@model Inzynierka.Data.Tables.CruisesParticipants

@{
    ViewData["Title"] = "Szczegóły Rejsu";
}

<h1>Szczegóły Rejsu</h1>

@* @if (User.Identity.IsAuthenticated)
{

    <div class="container mt-3">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#message-form" aria-expanded="false" aria-controls="message-form">
            Zgłoś
        </button>

        <div class="collapse mt-2" id="message-form">
            <form asp-action="Create" asp-controller="Reports" method="post">
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label for="message" class="control-label">Wiadomość</label>
                    <input id="message" name="message" class="form-control" />
                    <span class="text-danger"></span>
                </div>

                <input type="hidden" name="SuspectYachtId" value="@Model.Id" />
                <input type="hidden" name="SuspectUserId" value="@Model.OwnerId" />
                <button type="submit" class="btn btn-success mt-2">Wyślij</button>
            </form>
        </div>
    </div>
} *@

<div>
    <h4>CruisesParticipants</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cruises)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cruises.currency)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
