@* @model IEnumerable<Inzynierka.Data.Tables.Yachts>
 *@
 @model Inzynierka.Models.YachtsIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Jachty</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@* 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.crew)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cabins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.beds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.toilets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.showers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.crew)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cabins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.beds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.toilets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.showers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image.link)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@

<h1>Twoje jachty</h1>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.UserYachts.First().name)</th>
            <th>@Html.DisplayNameFor(model => model.UserYachts.First().description)</th>
            <th>@Html.DisplayNameFor(model => model.UserYachts.First().Owner.Email)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.UserYachts.Count() > 0){
            @foreach (var yacht in Model.UserYachts)
            {
                <tr>
                    <td>@yacht.name</td>
                    <td>@yacht.description</td>
                    <td>@yacht.Owner.Email</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@yacht.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@yacht.Id">Details</a>|
                        <a asp-action="Delete" asp-route-id="@yacht.Id">Delete</a>
                    </td>
                </tr>
            }
        }
        else{
			<tr>
				<td colspan="4">Nie posiadasz żadnych jachtów</td>
			</tr>
		}
    </tbody>
</table>

<h1>Jachty innych użytkowników</h1>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.OtherYachts.First().name)</th>
            <th>@Html.DisplayNameFor(model => model.OtherYachts.First().description)</th>
            <th>@Html.DisplayNameFor(model => model.OtherYachts.First().Owner.Email)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.OtherYachts.Count() > 0)
        {
            @foreach (var yacht in Model.OtherYachts)
            {
                <tr>
                    <td>@yacht.name</td>
                    <td>@yacht.description</td>
                    <td>@yacht.Owner.Email</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@yacht.Id">Details</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">Nie posiadasz żadnych jachtów</td>
            </tr>
        }
    </tbody>
</table>