@model IEnumerable<Inzynierka.Data.Tables.Comments>

@{
    ViewData["Title"] = "Index";
}
@* 
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.Creator)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Profile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Charter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cruises)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yachts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
          @*   <td>
                @Html.DisplayFor(modelItem => item.Creator.Id)
            </td> *@
            <td>
                @* @Html.DisplayFor(modelItem => item.Profile.Email) *@
                    @if (item.Profile != null)
                    {
                        @Html.ActionLink(item.Profile.Email, "Details", "Profile", new { id = item.Profile.Id }, null)
                    }
            </td>
            <td>
               @*  @Html.DisplayFor(modelItem => item.Charter.description) *@
                    @if (item.Charter != null)
                    {
                        @Html.ActionLink(item.Charter.description, "Details", "Charters", new { id = item.Charter.Id }, null)
                    }
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Cruises.description) *@
                    @if (item.Cruises != null)
                    {
                        @Html.ActionLink(item.Cruises.description, "Details", "Cruises", new { id = item.Cruises.Id }, null)
                    }
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Yachts.name) *@
                    @if (item.Yachts != null)
                    {
                        @Html.ActionLink(item.Yachts.name, "Details", "Yachts", new { id = item.Yachts.Id }, null)
                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytowanie</a> 
                @* <a asp-action="Details" asp-route-id="@item.Id">Details</a>  *@
                @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                    <form asp-action="Delete">
                        <input type="hidden" name="id" asp-for="@item.Id" />
                        <input type="submit" value="Usuń" class="btn btn-danger" />
                        @* <a asp-action="Index">Back to List</a> *@
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
