@model Inzynierka.Data.Tables.Users

@{
    ViewData["Title"] = "Profil Użtkownika";
}

<h1>Profil</h1>
@if (User.Identity.IsAuthenticated)
{
    <div class="container mt-3">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#message-form" aria-expanded="false" aria-controls="message-form">
            Zgłoś
        </button>

        <div class="collapse mt-2" id="message-form">
            <form asp-action="Create" asp-controller="Reports" method="post">
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label for="message" class="control-label">Wiadomość</label>
                    <input id="message" name="message" class="form-control" />
                    <span class="text-danger"></span>
                </div>

                <input type="hidden" name="SuspectYachtId" value="@Model.Id" />
                <button type="submit" class="btn btn-success mt-2">Wyślij</button>
            </form>
        </div>
    </div>
}
<div>
  @*   <h4>Users</h4> *@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.firstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.firstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.surName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.surName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aboutMe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aboutMe)
        </dd>
        
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastName)
        </dd> *@
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.banned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.banned)
        </dd> *@
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Public)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Public)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photos.link)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd> *@
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NormalizedUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NormalizedUserName)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NormalizedEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NormalizedEmail)
        </dd> *@
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd> *@
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordHash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConcurrencyStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConcurrencyStamp)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
      @*   <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd> *@
     @*    <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwoFactorEnabled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LockoutEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LockoutEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LockoutEnabled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd> *@
    </dl>
</div>
<div>
    @* <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> | *@
   @*  <a asp-action="Index">Powrót</a> *@
    <a href="javascript:history.back()">Powrót</a>
   
</div>
