@model Inzynierka.Data.Tables.Charters

@{
    ViewData["Title"] = "Details";
    bool ulubiony = ViewData["ulubiony"] != null && (bool)ViewData["ulubiony"];
    bool isOwner = ViewData["isOwner"] != null && (bool)ViewData["isOwner"];
    bool isLogged = ViewData["isLogged"] != null && (bool)ViewData["isLogged"];
}

<h1>Szczegóły</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yacht)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yacht.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.Email)
        </dd>
    </dl>
</div>
<div>
    @if (isLogged)
    {
        @if (isOwner)
        {
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a asp-action="Details" asp-route-id="@Model.Id">Details</a>
        }
        <a asp-action="Index">Powrót</a>
       @*  @if (ulubiony)
        {
            <form asp-action="RemoveFromFavorites" asp-controller="" method="post" style="display:inline;">
                <input type="hidden" name="YachtSaleId" value="@Model?.Id" />
                <button type="submit" class="btn btn-outline-danger">
                    💔 Usuń z ulubionych
                </button>
            </form>
        }
        else
        {
            <form asp-action="AddToFavorites" asp-controller="" method="post" style="display:inline;">
                <input type="hidden" name="YachtSaleId" value="@Model?.Id" />
                <button type="submit" class="btn btn-outline-danger">
                    ❤️ Dodaj do ulubionych
                </button>
            </form>
        } *@
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success">
                @TempData["Message"]
            </div>
        }
    }
    else
    {
        <a asp-action="Index">Powrót</a>
    }
</div>
