@model IEnumerable<Inzynierka.Data.Tables.Reservation>
@using Inzynierka.Data.Tables
@{
    ViewData["Title"] = "Moje rezerwacje";
}

<h1>Moje rezerwacje</h1>
@* 
<p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.startDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endDate)
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>  *@
            <th>
                @Html.DisplayNameFor(model => model.Charter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null || !Model.Any())
        {
            <tr>
                <td colspan="6" class="text-center">
                    Brak rezerwacji do zarządzania.
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.startDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.endDate)
                        </td>
                    @*      <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>  *@
                            @* <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().status)
                            </th> *@

                        <td>
                            @Html.DisplayFor(modelItem => item.Charter.currency)
                        </td>
                        <td>
                             @Html.DisplayFor(modelItem => item.Charter.Owner.Email)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                @if (item.Status == StatusReservation.Pending)
                                {
                                    <form asp-action="AcceptReservation" method="post">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <button type="submit" class="btn btn-success">Akceptuj</button>
                                    </form>
                                }
                        </td>
                    </tr>
            }
        }
    </tbody>
</table>
