@model IEnumerable<Inzynierka.Data.Tables.Reports>

@{
    ViewData["Title"] = "Raporty";
}

<h1>Raporty</h1>
@* 
<p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moderator)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.SuspectUser)
            </th> *@
           @*  <th>
                @Html.DisplayNameFor(model => model.SuspectCruise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuspectYacht)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentVerification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuspectYachtSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuspectCharter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuspectComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuspectRole)
            </th> *@
            <th>Powód Zgłoszenia</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moderator.Id)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.SuspectUser.Email)
                @Html.DisplayFor(modelItem => item.SuspectCruise.currency)
                @Html.DisplayFor(modelItem => item.SuspectYacht.name)
                @Html.DisplayFor(modelItem => item.DocumentVerification.Id)
                @Html.DisplayFor(modelItem => item.SuspectYachtSale.currency)
                @Html.DisplayFor(modelItem => item.SuspectCharter.currency)
                @Html.DisplayFor(modelItem => item.SuspectComment.Message)
                @Html.DisplayFor(modelItem => item.SuspectRole.Name) *@
                    <div>@Html.DisplayFor(modelItem => item.SuspectUser.Email)</div>
                    <div>@Html.DisplayFor(modelItem => item.SuspectCruise.currency)</div>
                    <div>@Html.DisplayFor(modelItem => item.SuspectYacht.name)</div>
                    <div>@Html.DisplayFor(modelItem => item.DocumentVerification.Id)</div>
                    <div>@Html.DisplayFor(modelItem => item.SuspectYachtSale.currency)</div>
                    <div>@Html.DisplayFor(modelItem => item.SuspectCharter.currency)</div>
                    <div>@Html.DisplayFor(modelItem => item.SuspectComment.Message)</div>
                    <div>@Html.DisplayFor(modelItem => item.SuspectRole.Name)</div>
                   @*  <div>@Html.DisplayFor(modelItem => item.SuspectUser.banned)</div> *@
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Co Robimy?</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szeguły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>

                    <form asp-action="Banned" asp-controller="Reports" method="post" style="display:inline">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="userId" value="@item.SuspectUserId" />
                            <button type="submit" class="btn btn-danger btn-sm">Zbanuj</button>
                    </form>

                    <form asp-action="UnBanned" asp-controller="Reports" method="post" style="display:inline">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="userId" value="@item.SuspectUserId" />
                            <button type="submit" class="btn btn-success btn-sm">Odbanuj</button>
                    </form>
                    
            </td>
        </tr>
}
    </tbody>
</table>
