@* @model IEnumerable<Inzynierka.Data.Tables.Cruises>  *@
@model (IEnumerable<Inzynierka.Data.Tables.Cruises> MyCruises, IEnumerable<Inzynierka.Data.Tables.Cruises> OtherCruises)

@{
    ViewData["Title"] = "Index";
}
@* 
<h1>Rejsy</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.start_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.end_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maxParticipants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capitan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.start_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.end_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
             <td>
        
                @Html.DisplayFor(modelItem => item.currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maxParticipants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capitan.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
 </table> *@
<h1>Rejsy</h1>
<h2>Moje Rejsy</h2>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.MyCruises.First().name)</th>
            <th>@Html.DisplayNameFor(model => model.MyCruises.First().description)</th>
            <th>@Html.DisplayNameFor(model => model.MyCruises.First().start_date)</th>
            <th>@Html.DisplayNameFor(model => model.MyCruises.First().end_date)</th>
            <th>@Html.DisplayNameFor(model => model.MyCruises.First().price)</th>
            <th>@Html.DisplayNameFor(model => model.MyCruises.First().currency)</th>
            <th>@Html.DisplayNameFor(model => model.MyCruises.First().status)</th>
            <th>@Html.DisplayNameFor(model => model.MyCruises.First().maxParticipants)</th>
            <th>@Html.DisplayNameFor(model => model.MyCruises.First().Capitan.Email)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MyCruises)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.name)</td>
                <td>@Html.DisplayFor(modelItem => item.description)</td>
                <td>@Html.DisplayFor(modelItem => item.start_date)</td>
                <td>@Html.DisplayFor(modelItem => item.end_date)</td>
                <td>@Html.DisplayFor(modelItem => item.price)</td>
                <td>@Html.DisplayFor(modelItem => item.currency)</td>
                <td>@Html.DisplayFor(modelItem => item.status)</td>
                <td>@Html.DisplayFor(modelItem => item.maxParticipants)</td>
                <td>@Html.DisplayFor(modelItem => item.Capitan.Email)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>Rejsy</h2>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.OtherCruises.First().name)</th>
            <th>@Html.DisplayNameFor(model => model.OtherCruises.First().description)</th>
            <th>@Html.DisplayNameFor(model => model.OtherCruises.First().start_date)</th>
            <th>@Html.DisplayNameFor(model => model.OtherCruises.First().end_date)</th>
            <th>@Html.DisplayNameFor(model => model.OtherCruises.First().price)</th>
            <th>@Html.DisplayNameFor(model => model.OtherCruises.First().currency)</th>
            <th>@Html.DisplayNameFor(model => model.OtherCruises.First().status)</th>
            <th>@Html.DisplayNameFor(model => model.OtherCruises.First().maxParticipants)</th>
            <th>@Html.DisplayNameFor(model => model.OtherCruises.First().Capitan.Email)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OtherCruises)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.name)</td>
                <td>@Html.DisplayFor(modelItem => item.description)</td>
                <td>@Html.DisplayFor(modelItem => item.start_date)</td>
                <td>@Html.DisplayFor(modelItem => item.end_date)</td>
                <td>@Html.DisplayFor(modelItem => item.price)</td>
                <td>@Html.DisplayFor(modelItem => item.currency)</td>
                <td>@Html.DisplayFor(modelItem => item.status)</td>
                <td>@Html.DisplayFor(modelItem => item.maxParticipants)</td>
                <td>@Html.DisplayFor(modelItem => item.Capitan.Email)</td>
                <td>
                    @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                   @*  <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                    
                </td>
            </tr>
        }
    </tbody>
</table>

